@page
@model Bestellingplaatsen.Pages.BestellingenModel
@{
    ViewData["Title"] = "Bestelgeschiedenis";
}

<h2>Bestelgeschiedenis</h2>

<p>Bekijk hier je vorige bestellingen.</p>

<table class="table">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Producten</th>
            <th>Totaal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bezorgd op 20 mei 2025</td>
            <td>Nebuchadnezzar</td>
            <td>€ 10.000,00</td>
        </tr>
        <tr>
            <td>Bezorgd op 21 mei 2025</td>
            <td>Jack-in Chair</td>
            <td>€500,50</td>
        </tr>
        <tr>
            <td>Bezorgd op 22 mei 2025</td>
            <td>Wapentuig op de schepen van Zion</td>
            <td>€129,99</td>
        </tr>
    </tbody>
</table>
