@page
@model KE03_INTDEV_SE_1_Base.Pages.BevestigingModel
@{
    ViewData["Title"] = "Bevestiging";
}

<h2>Bevestiging</h2>

<div class="alert alert-success" role="alert">
    ✅ Uw bestelling is succesvol voltooid!
</div>

<p>Bedankt voor je bestelling. Je ontvangt binnenkort een bevestigingsmail.</p>
<a class="btn btn-primary" asp-page="/Index">Terug naar de homepagina</a>
